html, body {
    margin 0;
    height 100%;
}
.background{
    background-image url(..ImagesParallaxFondo.png);
      background-size cover; 
  background-repeat no-repeat;
    width100%;
}

.layer img{
    width 100%;
}

#titleparallax{
    display block;
    margin-left auto;
    margin-right auto;
}

.contenedorimagen{
  box-sizingborder-box;
  vertical-align top;
  display inline-block;
  text-align center;
  padding 20px 20px;
}

.imagenesclick1{
  padding-top 50px;
  vertical-align middle; 
  width 200px; 
  height auto;
}

.imagenesclick{
  vertical-align middle; 
  width 200px; 
  height auto;
}

.fondosocial{
  text-align center;
  padding-bottom 50px;
  padding-top 50px;
  padding-right 20px;
  padding-left 20px;
}
#imageninfo{
  visibility visible;
}

@media screen and (max-width 1439px) {
  #desktopparallax1{
    visibility hidden;
  }
  #desktopparallax2{
    visibility hidden;
  }
#imageninfo{
  visibility visible;
}
}

@media screen and (max-width 992px) {
  #desktopparallax1{
    visibility hidden;
  }
  #desktopparallax2{
    visibility hidden;
  }
#imageninfo{
  visibility visible;
}
}

@media screen and (max-width 600px) {
  #desktopparallax1{
    visibility hidden;
  }
  #desktopparallax2{
    visibility hidden;
  }
#imageninfo{
  visibility hidden;
}
}

@media screen and (min-width 1440px) {
  #desktopparallax1{
    visibility visible;
  }
  #desktopparallax2{
    visibility visible;
  }
#imageninfo{
  visibility visible;
}
}

.fondoinfo{ 
  width 90%; 
  display block;
  margin-left auto;
  margin-right auto;
  border10px solid;
  border-color#730C3B;
  margin-leftauto; 
  margin-rightauto; 
  padding 100px;
  backgroundlinear-gradient(rgba(173, 113, 127, 0.45),rgba(173, 113, 127, 0.45)),url(..ImagesRoute.png);
  background-size cover; 
  background-repeat no-repeat;
  text-align center;
  border-color#730C3B;
  margin-top100px;
  margin-bottom 100px;
}
@media (max-width 5000px) {
  .flex-container{
  display flex;
  flex-direction row;
  flex-wrap wrap;
      
  list-style none;
  margin 0;
  padding 0;
  min-height 100%;
  }
}
.container {
  position relative;
  width 100%;
  max-width 400px;
  height50%;
  margin 15px;
}

.container img {
  width 100%;
  height 250px;
  box-shadow 2.5px 2.5px 1px grey;
  border-radius 4%;
}

.container imghover {
 transform scale(1.01);
}

.container .btn {
  position absolute;
  top 50%;
  left 50%;
  transform translate(-50%, -50%);
  -ms-transform translate(-50%, -50%);
  background-color #555;
  color white;
  font-size 20px;
  padding 20px 40px;
  border none;
  cursor pointer;
  border-radius 5px;
  text-align center;
}

.container .btnhover {
  background-color #730C3B;
}
.centered {
  position absolute;
  top 40%;
  left 50%;
  transform translate(-50%, -50%);
  font-size 35px;
  color white;
  text-shadow -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.flex-container {
  display flex;
  justify-content center;
}


 
@import url('httpsfonts.googleapis.comcssfamily=Lato300,400,700');

.page-wrapper {
  font-family 'Lato', sans-serif;
  min-height 100vh;
  background-color #F5F7FA;
  margin auto;
  display flex;
  flex-wrap wrap;
  align-content flex-start;
  justify-content space-evenly;
  padding-left calc(5% - 16px);
  padding-right calc(5% - 16px);
   padding 0 5%; 
}

.profile-box {
  background #FFFFFF;
  box-shadow 0 2px 6px 0 rgba(47,83,151,0.10);
  border-radius 3px;
  margin 16px 16px;
  padding 16px 16px;
  width 200px;
  text-align center;
  transition 300ms;
  flex-grow 1;
}

.profile-boxhover {
   box-shadow 0 2px 6px 0 rgba(47,83,151,0.40); 
  box-shadow 0 0 20px 9px rgba(0,0,0,0.03);
}
.profile-box img {
  width 80px;
  height 80px;
  border-radius 50%;
  box-shadow 0 2px 6px 0 rgba(47,83,151,0.10);
}

.profile-box h3 {
  font-weight 300;
  font-size 18px;
  margin-bottom 0;
}
.profile-box h4 {
  transition 500ms;
  font-weight 300;
  font-size 14px;
  margin-top 8px;
  color #98A0A6;
  cursor pointer;
}
.profile-box h4hover {
  color #507BFC;
  text-decoration underline;
}


.info {
  text-align: center;
  padding: 10px;
  background: #eee;
  color: #777;
}

sm {
  font-size: 12px
}

#gallery {
  margin-top: 20px;
  text-align: center
}
.comingsoon{
   color: white; 
   text-align: center; 
   font-family: 'Alfa Slab One', cursive; 
   font-size: 60px;
}

.gallery {
  width: 400px;
  height: 400px;
  background-position: center center;
  background-repeat: no-repeat;
  display: inline-block;
  cursor: pointer;
  margin: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  position: relative;
  background-size: cover;
  overflow: hidden;
}

@media screen and (max-width: 600px) {
  .gallery{
    width: 300px;
    height: 300px;
  }
  .comingsoon{
    font-size: 30px;
  }
}

@media screen and (min-width: 601px) {
  .comingsoon{
    font-size: 40px;
  }
}

@media screen and (min-width: 992px) {
  .gallery{
    width: 400px;
    height: 400px;
  }
 .comingsoon{
    font-size: 60px;
  }
}
.gallery-item {
  background-image: url(https://pokemongolive.com/img/posts/gobattleleague-season1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
   background-position: center center;
}

.gallery-item:nth-of-type(2) {
  background-image: url(https://pokemongolive.com/img/posts/gobattleleague-season1.jpg);
}
.gallery-item:nth-of-type(3) {
  background-image: url(https://pokemongolive.com/img/posts/gobattleleague-season1.jpg);
}
.gallery-item:nth-of-type(4) {
  background-image: url(https://pokemongolive.com/img/posts/gobattleleague-season1.jpg);
}
.gallery-item:nth-of-type(5) {
  background-image: url(https://pokemongolive.com/img/posts/gobattleleague-season1.jpg);
}
.gallery-item:nth-of-type(6) {
  background-image: url(https://pokemongolive.com/img/posts/gobattleleague-season1.jpg);
}
.gallery-item:nth-of-type(7) {
  background-image: url(https://pokemongolive.com/img/posts/gobattleleague-season1.jpg);
}
.gallery-item:nth-of-type(8) {
  background-image: url(https://pokemongolive.com/img/posts/gobattleleague-season1.jpg);
}
.gallery-item:nth-of-type(9) {
  background-image: url(https://pokemongolive.com/img/posts/gobattleleague-season1.jpg);
}
.gallery-item:nth-of-type(10) {
  background-image: url(https://pokemongolive.com/img/posts/gobattleleague-season1.jpg);
}

.shop .status {
  position: absolute;
  top: 12px;
  right: -35px;
  padding: 10px 40px;
  color: #fff;
  background-color: cadetblue;
  content: "For Sale";
  transform: rotate(45deg);
  background: linear-gradient(#2bf504, #4fea32);
}

#drop-zone {
  width: 600px;
  height: 400px;
  margin: 10px auto;
  background-color: #eee;
  border: 2px dashed #ccc;
  background-clip: padding-box;
  border-radius: 2px;
}

#bg-modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  max-height: 100vh;
  max-width: 100vw;
  overflow: hidden;
  box-shadow: 1px 1px 2px #ccc;
  transition: transform .5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  display: flex;
  justify-content: center;
  align-items: center
}

#bg-modal-content {
  max-height: 95vh;
  max-width: 768px;
  z-index: 10;
  
  overflow: hidden;
  
  position: relative
}

.modal-status {
  transform: scale(0, 0);
  transform-origin: 50% 50%;
}

.bg-modal-overlay {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, .75);
  top: 0;
  left: 0;
  z-index: 5
}

.modal-open {
  transform: scale(1, 1);
  tranistion: transform .5s cubic-bezier(0.68, -0.55, 0.27, 1.55)
}

#bg-modal #bg-modal-content .bg-img,
#bg-modal #bg-modal-content .bg-img-alt {
  width: 100%;
  max-width: 768px;
  height: auto;
  max-height: 80vh;
  overflow-y: auto;
  background: #fff;
  border: 4px solid #fff;
  border-radius: 5px;
}
#bg-modal #bg-modal-content .bg-img-alt{
  height: 50vh
}
.hide {
  display: none
}

#bg-modal #bg-modal-content .bg-img img {
  width: 100%;
  height: auto
}

#bg-modal #bg-modal-content .modal-details {
  width: auto;
  height: auto;
  margin: 10px auto;
  padding: 5px;
  display: table;
  border-radius: 4px;
  box-sizing: border-box;
  background: rgba(0,0,0,.65);
  border: 1px solid rgba(255,255,255,.1);
  color: #eee;
  text-align: center
}

.modal-details hr {
  opacity: 0.3
}

#bg-modal #bg-modal-content .modal-details h2 {
  font-size: 1.6vw
}

#bg-modal #bg-modal-content .modal-details p {
  font-size: 1.4vw
}

#bg-modal #bg-modal-content .close {
  position: absolute;

  top: 0px;
  left: 10px;
  color: #ccc;
  font-weight: bold;
  font-size: 40px;
  cursor: pointer
}
#bg-modal #bg-modal-content .close:hover {
  color: #fb1b67
}

.modal-details .buttons {}

.modal-details .buttons button {
  display: block;
  width: 100%;
  border-radius: 5px 5px 0 0;
  border: none;
  background-color: #0ebeff;
  color: #eee;
  text-align: center;
  padding: 15px 0;
  cursor: pointer
}

.modal-details .buttons button:hover {
  background-color: #46cbfd;
  color: #fff
}

#spinner-wrapper {
  width: 100%;
  height: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: center;
  align-items: center
}

.spinner1 {
  width: 40px;
  height: 40px;
  background-color: #dedede;
  border-radius: 50%;
  position: relative;
  -webkit-animation: spin1 1.5s linear infinite;
  animation: spin1 1s linear infinite;
  /*    animation-direction: alternate*/
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  /*border: 1px solid #ccc;
    
/*    border-right-color: aqua;*/
  /*    box-shadow: inset 0 0 4px 2px #999, 0 0 2px 2px #eee;*/
}

.spinner1:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #525252;
  top: 0;
  width: 15px;
  height: 15px;
  left: 50%;
  margin-left: -15px;
  box-shadow: inset 1px 1px #eee;
  -webkit-transform-origin: bottom;
  transform-origin: bottom
}

@-webkit-keyframes spin1 {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg)
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg)
  }
}

@keyframes spin1 {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg)
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg)
  }
}